<div class="announcement-bar">
  <div class="slideshow-wrapper">
    <div
      id="AnnouncementSlider"
      class="{% if section.settings.show_slider %}custom-announcement-slider{% endif %} announcement-row"
    >
      {%- for block in section.blocks -%}
        <div class="announcement-slider__slide">
          {{ block.settings.text }}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
