<div class="announcement-bar"> 
  <div class="slideshow-wrapper">
    <div
      id="AnnouncementSlider-wrap"
      class="{% if section.settings.show_slider %}custom-announcement-slider{% endif %} announcement-row"
    >
      {%- for block in section.blocks -%}
        <div class="announcement-slider__slide">
          {{ block.settings.text }}
        </div>
      {%- endfor -%}
    </div>

      <div class="left-arrow">
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="32" stroke="#000000" viewBox="0 0 32 32" width="32"><path d="M22,2 L10,16 22,30" stroke-width="4"/></svg>
        </span>
      </div>
      <div class="right-arrow">
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="32" stroke="#000000" viewBox="0 0 32 32" width="32"><path d="M10,2 L22,16 10,30" stroke-width="4"/></svg>
        </span>
      </div>

          
  </div>
</div>
