.image-with-text-section .feature-row {
    margin: 0px;
}

.slideshow__slide .hero__text-shadow {
    max-width: 800px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}