.image-with-text-section .feature-row {
    margin: 0px;
}

.slideshow__slide .hero__text-shadow {
    max-width: 800px;
}

.featured-collection-tabs .tab-content {
  display: none;
}

.featured-collection-tabs .tab-content.active {
  display: block;
}

.featured-collection-tabs .tab-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.featured-collection-tabs .tab-row .tab {
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase;
    text-underline-offset: 4px;    
    font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
}

.featured-collection-tabs .tab-row .tab:hover {
    text-decoration: underline;
}

.featured-collection-tabs .tab-row .tab.active {
    text-decoration: underline;
}

.product-tabs .tab-content {
  display: none;
}

.product-tabs .tab-content.active {
  display: block;
}

.grid-product .grid-product__content {
    border: 1px solid #d9dbde;
    height: 100%;
}

.grid-product .grid-product__title {
    min-height: 63px;
}

.grid__item-image-wrapper .atc-btn {
    text-align: center;
    padding: 5px 5px 15px 5px;
    position: relative;
    z-index: 11;
}

.footer__bottom-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}

.footer__bottom-text .payment-icons {
    margin-top: 0px;
}

.footer__bottom-text .footer__small-text {
    padding: 0px;
}

.newsletter-section__content .newsletter__input-group {
    width: 100%;
    max-width: 450px;
}

.footer__social {
    margin: 24px 0px 20px 0px;
}

.product-description img {
    display: inline-block;
}

.product-tabs .tab-row {
    border-bottom: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-tabs .tab-row .tab {
    transition: 0.3s;
    background: #d9dbde;
    padding: 12px 25px;
    margin-right: 20px;    
    font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
    text-transform: uppercase;
}

.product-tabs .tab-row .tab.active {
    background: #000;
    color: #fff;
}

.product-tabs .tab-content-row {
    margin-top: 40px;
}

.product-tabs {
    max-width: 1100px;
    margin: 0 auto;
}

.text-with-icons__block-icon img {
    max-width: 200px;
    margin: 0 auto;
}



@media only screen and (max-width: 768px) {
  
}


