.flickity-prev-next-button { 
    top: 50%; 
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    transform: translateY(-50%);
}

.flickity-button {
    background: var(--colorBtnPrimary);
    border: none;
    border-radius: 50%;
    color: var(--colorBtnPrimaryText);
    position: absolute;
}

.flickity-prev-next-button .flickity-button-icon {
    fill: currentColor; 
    height: 30%;
    left: 35%;
    position: absolute;
    top: 35%;
    width: 30%;
}

.flickity-button:hover {
    background: var(--colorBtnPrimary);
}

.flickity-button:focus {
    box-shadow: none;
}

.slick-dots li button:before {
    display: none;
}

.slick-dots li button {
    padding: 0px;
    height: 3px;
    width: 30px;
    background-color: currentColor;
    color: currentColor;
    opacity: 0.4;
}

.slick-dots li {
    width: auto;
    height: auto;
}

.slick-dots .slick-active button {
    opacity: 1;
}

.custom-dots-style .flickity-page-dots {
    bottom: -20px;
    align-items: center;
}

.custom-dots-style .flickity-page-dots .dot {
    height: 3px;
    width: 30px;
    border-radius: 0px;
}

.custom-dots-style .flickity-page-dots .dot.is-selected {
    height: 3px;
    width: 30px;
}

.fancybox-bg {
    background: var(--colorModalBg);
}

.fancybox-is-open .fancybox-bg {
    opacity: 1;
}


.collection-item .collection-image img {
    border-radius: 8px;
}

.image-slider-with-text {
    position: relative;
    overflow: hidden;
}

.image-slider-with-text .slider-for {
    width: 50%;
}

.image-slider-with-text .slider-banner-image {
    line-height: 0px;
    cursor: grab;
}

.image-slider-with-text .slider-nav {
    position: absolute;
    right: 0;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 60px;
    height: 100%;
}

.image-slider-with-text .slider-banner-image img {
    width: 100%;
    border-radius: 8px;
}

.image-slider-with-text .slider-nav .slick-list {
    height: 100% !important;
}

.image-slider-with-text .slider-nav .slick-track {
    height: 100% !important;
}

.image-slider-with-text .slider-nav .slider-info {
    height: 100% !important;
}

.image-slider-with-text .slider-nav .slick-slide {
    height: 100% !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-slider-with-text .slider-for .slick-slide {
    line-height: 0px;
}

.image-slider-with-text .slider-info .btn {
    margin: 0px;
}

.image-slider-with-text .slick-dots li button {
    background-color: #fff;
    color: #fff;
}

.image-slider-with-text .slick-dots {
    bottom: 15px;
}

.ingredients__block-text {
    max-width: 700px;
    width: 100%;
}

.product-ingredients-row {
    display: flex;
    flex-wrap: wrap;
}

.product-ingredients-row .ingredients__block {
    box-shadow: #63636333 0 2px 8px;
    padding-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.product-ingredients-row .ingredients-image img {
    width: 100%;
    object-fit: cover;
}

.ingredients__block-info {
    padding: 0 10px;
}

.ingredients-image a {
    display: block;
}

.ingredients__block-title a {
    display: block;
    padding-top: 16px;
}

.ingredients_read-more a {
    cursor: pointer;
}

.megamenu .grid__item .title-hide {
    opacity: 0;
}

.image-with-text-section .feature-row {
    margin: 0px;
}

.slideshow__slide .hero__text-shadow {
    max-width: 800px;
}

.featured-collection-tabs .tab-content {
  display: none;
}

.featured-collection-tabs .tab-content.active {
  display: block;
}

.featured-collection-tabs .tab-row {
    display: flex;
    margin-bottom: 40px;
    overflow: auto;
    justify-content: center;
}

.featured-collection-tabs .tab-row .tab {
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase;
    text-underline-offset: 4px;
    font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
    flex: 0 0 auto;
}

.featured-collection-tabs .tab-row .tab:hover {
    text-decoration: underline;
}

.featured-collection-tabs .tab-row .tab.active {
    text-decoration: underline;
}

.product-tabs .tab-content {
  display: none;
}

.product-tabs .tab-content.active {
  display: block;
}

.grid-product .grid-product__content {
    border: 1px solid #d9dbde;
    height: 100%;
}

.grid-product .grid-product__title {
    min-height: 63px;
}

.grid__item-image-wrapper .atc-btn {
    text-align: center;
    position: relative;
    z-index: 11;
    margin-top: 5px;
}

.grid-product__content .grid-product__info {
    padding: 0 10px 16px 10px;
}

.footer__bottom-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}

.footer__bottom-text .payment-icons {
    margin-top: 0px;
}

.footer__bottom-text .footer__small-text {
    padding: 0px;
}

.newsletter-section__content .newsletter__input-group {
    width: 100%;
    max-width: 450px;
}

.footer__social {
    margin: 24px 0px 20px 0px;
}

.product-description img {
    display: inline-block;
}

.product-tabs .tab-row {
    border-bottom: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-tabs .tab-row .tab {
    transition: 0.3s;
    background: #d9dbde;
    padding: 12px 25px;
    margin-right: 20px;    
    font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
    text-transform: uppercase;
}

.product-tabs .tab-row .tab.active {
    background: #000;
    color: #fff;
}

.product-tabs .tab-content-row {
    margin-top: 40px;
}

.product-tabs {
    max-width: 1100px;
    margin: 0 auto;
}

.text-with-icons__block-icon img {
    max-width: 200px;
    margin: 0 auto;
}

.text-with-icons__blocks.text-with-logos-slider {
    display: block;
    width: 100%;
}

.text-with-icons__blocks.text-with-logos-slider .text-with-icons__block {
    display: block;
}

.blog-tag-filter {
    text-align: right;
    margin-bottom: 40px;
}

.blog-template-wrap .section-header {
    margin-bottom: 24px;
}

.megamenu-image a {
    display: inline-block;
}

.megamenu-image .image {
    line-height: 0px;
}

.megamenu-image .image img, .megamenu-product .img img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.megamenu-product a {
    display: inline-block;
}

.megamenu-product .img {
    line-height: 0px;
}

.megamenu-product p,
.megamenu-image p {
    margin: 10px 0 0;
    line-height: normal;
    text-align: center;
}

.fc-featured-image-row {
    display: flex;
    flex-wrap: wrap;
}

.fc-featured-image-row .fc-featured-image {
    width: 25%;
    flex: 0 0 25%;
    padding-right: 22px;
    margin-bottom: 30px;
}

.fc-featured-image-row .grid-overflow-wrapper {
    flex: 1 0 0;
}

.fc-featured-image-row .fc-featured-image img {
    height: 100%;
    object-fit: cover;
}

.image-with-text-section .feature-row__text .btn {
    margin-left: 0px;
    margin-right: 0px;
}

.collection-item:not(.collection-item--below):after {
    display: none;
}

.collection-item:not(.collection-item--below):hover:after {
    display: block;
}

.product-logo.product-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-left: 0px;
}

.product-logo.product-block .logo {
    max-width: 120px;
    margin-bottom: 0px;
    margin-right: 10px;
}

.product-ingredients-row.product-ingredients-slider {
    display: block;
}

.product-ingredients-row.product-ingredients-slider .ingredients__block {
    margin-bottom: 20px;
}

.product-block .product-recommendations__slide .grid-product__image-mask {
    flex: 0 0 20%;
}

.product-block .product-recommendations__slide .grid__item-image-wrapper .atc-btn {
    flex: 0 0 auto;
}

.product-block .product-recommendations__slide .grid-product__meta {
    margin-left: 0px !important;
    width: 100% !important;
}

.product-block product-recommendations[data-intent=complementary] .grid__item-image-wrapper .image-wrap {
    width: 100%;
}

.image-with-info .image-with-info__row {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 30px 0px;
}

.image-with-info__row .image-with-info__image {
    flex: 0 0 30%;
}

.image-with-info__row .image-with-info__info {
    flex: 1 0 0;
    padding: 0 30px 0 24px;
}

.image-with-info {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #000;
}

.product_list-block .grid__item-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.product_list-block .grid__item-image-wrapper .grid-product__image-mask {
    flex: 0 0 140px;
}

.product_list-block .grid-product__content .grid-product__info {
    flex: 1 0 0;
    padding: 0 16px;
}

.product_list-block .grid-product {
    margin-bottom: 0px;
    padding: 0 5px;
}

.product_list-block .atc-btn .btn {
    margin: 0px;
    padding: 0px;
    color: var(--colorLink);
    background: transparent;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.product_list-block .grid-product__meta {
    text-align: left;
    padding-top: 0px;
}

.product_list-block .grid__item-image-wrapper .atc-btn {
    text-align: left;
}

.product_list-block .grid-product .grid-product__title {
    min-height: auto;
}

.tab__text-image-video {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
}

.tab__text-image-video .text {
    flex: 1 0 0;
}

.tab__text-image-video .product-tab__image-video {
    flex: 0 0 50%;
    padding-left: 20px;
}

.product-tab__video video {
    width: 100%;
}

#shopify-section-template--17266728304813__custom_image_slider_with_text_fKK69K .image-slider-with-text .slider-banner-image img {
    min-height: 533px;
    object-fit: cover;
}

.classes-schedule-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-top: 1px solid #000;
    padding: 40px 0px;
}

.classes-schedule-row .right-column {
    flex: 1 0 0;
    margin-left: 40px;
}

.classes-schedule-row .left-column {
    flex: 0 0 250px;
    text-align: center;
    border: 1px solid #f2f2f2;
}

.classes-schedule-row .left-column .month {
    background: #eeeeee;
}

.classes-schedule-row .left-column p {
    margin: 0px;
    padding: 15px 10px;
}

.classes-schedule-row .left-column .date {
    margin: 0px;
    padding: 10px;
}

.classes-schedule-row .left-column .classes {
    background-color: powderblue;
}

.classes-schedule-button a.btn {
    margin: 0px;
}

@media only screen and (max-width: 768px) {

  .fc-featured-image-row {
      display: block;
  }
  
  .fc-featured-image-row .fc-featured-image {
      width: 100%;
      flex: 0 0 100%;
      padding: 0 20px;
  }

  .collection-list-section .grid .small--one-half {
      width: 100%;
  }

  .image-with-text-section .feature-row__item {
      padding-left: 0px;
      padding-right: 0px;
  }
  
  .feature-row-wrapper .feature-row__text {
      padding-left: 0px;
      padding-right: 0px;
  }

  .featured-collection-tabs .tab-row {
      justify-content: flex-start;
  }

  .image-slider-with-text .slider-for {
      width: 100%;
  }
  
  .image-slider-with-text .slider-nav {
      width: 100%;
      position: unset;
      transform: none;
      padding: 0px;
  }

  .image-with-info__row .image-with-info__image {
      flex: 0 0 100%;
  }
  
  .image-with-info__row .image-with-info__info {
      padding: 24px 0px 0px 0px;
      flex: 0 0 100%;
  }
  
  .image-with-info .image-with-info__row {
      flex: 0 0 100%;
  }

  .classes-schedule-row .left-column {
      flex: 0 0 100%;
  }
  
  .classes-schedule-row .right-column {
      flex: 0 0 100%;
      margin: 40px 0px 0px 0px;
  }

  
}


